

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

*{
  padding: 0;
  margin: 0;
  border:none;
  outline:none
}

.tool-bar{
  background: #204458;
  width: 100vw;
  padding: 14px 24px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.bg-box{
  background-color: #274A5D;
  padding: 1% 10%;
  height: 30%;
  font-size: 14px;
  color: #fff;
}

.bg-box::before{
  background-color: #274A5D;
  content: '';
  height: 80%;
  width: 150%;
  position: absolute;
  top:0%;
  left: -25%;
  border-radius: 100%;
  z-index: -2;
}

.logo{
  font-weight: 700;
  font-size: 20.24px;
}

.menu{
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-content: right;
  flex-direction: row;
}
.menu:hover{
  cursor: pointer;
}
.name{
  font-weight: 600;
  font-size: 24px;
  color: #DFF6E5;
}
.category{
  font-weight: 400;
  margin-top: 2px;
}

.desc{
  font-weight: 300;
  position: relative;
  top: 8vh;
  line-height: 22px;
}

.grid{
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  column-gap: 5%;
  position: relative;
  top: 8vh;
}



.label{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

input{
  padding: 10px 8px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #274A5D;
}

.btn{
  border: 1px solid white;
  background-color:#5E9999;
  color:white;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  position: relative;
  top:5vh;
  cursor: pointer;
}

.btn:hover{
  background-color: #44BC98;
  border: #44BC98;
}

.generate{
  border-radius: 6px;
  padding: 2.5px;
  background-color: #4C7993;
  color: #fff;
  width: 226px;
  height: 45px;
  position: relative;
  top: 40px;
}

.footer{
  position: relative;
  top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-bottom: 120px;
}

.result{
  padding: 1% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 130px;
  position: relative;
  top: 35vh;
}

.input{
  width: 100%;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

.result-title{
  color: #5E9999;
  font-weight: 600;
  font-size: 14px;
}

.result-tbl{
  padding-bottom: 14px;
  border-bottom: 1px solid #4C7993;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 420px) {
  .grid, .result {
    grid-template-columns: 1fr;
  }

  .bg-box::before{
    height: 40%;
    width: 100%;
    top:40%;
    left: 0;
    border-radius: 10%;
  }
}


@media (min-width: 421px) and (max-width: 540px){
  .grid, .result {
    grid-template-columns: 1fr;
  }

  .bg-box::before{
    height: 50%;
    width: 100%;
    top:40%;
    left: 0;
    border-radius: 10%;
  }
}

@media (min-width: 541px) and (max-width: 960px){
  .grid, .result {
    grid-template-columns: 1fr;
  }

  .bg-box::before{
    height: 50%;
    width: 100%;
    top:20%;
    left: 0;
    border-radius: 10%;
  }
}
